/* 
    Document   : master
    Created on : Apr 8, 2010, 2:19:40 PM
    Author     : Bogdan Olteanu
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*@import url("reset.css");*/
@import url("default.css");